name: CI/CD Pipeline

on:
  push:
    branches: ["main"]

jobs:

  build-test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout du code
      uses: actions/checkout@v3

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 18

    - name: Installation des dépendances
      run: npm install

    - name: Tests (placeholder)
      run: echo "Aucun test"

  docker-build-push:
    needs: build-test
    runs-on: ubuntu-latest
    steps:
    - name: Checkout du code
      uses: actions/checkout@v3

    - name: Connexion à Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build et push de l'image Docker
      uses: docker/build-push-action@v3
      with:
        context: .
        push: true
        tags: crazyfranck/kubernetes-cicd-app:latest

  deploy:
    needs: docker-build-push
    runs-on: ubuntu-latest
    steps:
    - name: Checkout du code
      uses: actions/checkout@v3

    - name: Installation de kubectl
      uses: azure/setup-kubectl@v3

    - name: Configuration du kubeconfig
      run: |
        mkdir -p $HOME/.kube
        echo "${{ secrets.KUBE_CONFIG }}" > $HOME/.kube/config

    - name: Déploiement sur Kubernetes
      run: |
        kubectl apply -f k8s/deployment.yaml
        kubectl apply -f k8s/service.yaml
